p
{
	padding-left: 15px;
	padding-right: 15px;	
}

body
{
	background-color: #ECECED;
	margin: 0;
	padding: 0;
}

.container 
{
	font-family: "Museu500", "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 80%;
	max-width: 1260px;
	min-width: 1024px;
	background-color: #ECECED;
	margin: 0 auto;
}

.header 
{
	padding: 0 0 0 50px;
	background-color: #0F8D9B;
	color: #FFFFFF;
	font-family: "Museu500", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 60px;
}

.header a
{
	text-decoration: none;
}

.header a:visited
{
	color: #FFFFFF;
}

.footer 
{
	color: #FFFFFF;
	padding: 10px 0;
	background-color: #0F8D9B;
	position: relative;
	clear: both;
}