.subcontent_top {
	padding: 10px 0;
	width: 30%;
	float: left;
}
.subcontent_top_center {
	padding: 10px 0;
	width: 39%;
	float: left;
}

.subcontent_bottom {
	padding: 10px 0;
	width: 100%;
	float: left;
}

.content ul, .content ol { 
	padding: 0 15px 15px 15px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

h3
{
	padding-left: 15px;	
}

h2
{
	padding-left: 15px;	
}

.content 
{
	width: 60%;
	float: left;
}

.sidebar1
{
	float: left;
	width: 20%;
	background-color: #ECECED;
}

ul, ol, dl 
{
	padding: 0;
	margin: 0;
}

ul.men 
{
	list-style: none;
	border-top: 1px solid #666;
	margin-bottom: 15px;
}

ul.men li 
{
	border-bottom: 1px solid #666;
}

ul.men a, ul.men a:visited 
{ 
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	background-color: #13AD9E;
	color: #FFFFFF;
}

ul.men a:hover, ul.nav a:active, ul.nav a:focus 
{
	background-color: #8BC9C3;
	color: #FFF;
}

ul.nav 
{
	list-style: none;
	border-top: 1px solid #666;
	margin-bottom: 15px;
}

ul.nav li 
{
	border-bottom: 1px solid #666;
}

ul.nav a, ul.nav a:visited 
{ 
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	background-color: #10626D;
	color: #FFFFFF;
}

ul.nav a:hover, ul.nav a:active, ul.nav a:focus 
{
	background-color: #6F7D94;
	color: #FFF;
}